@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.column1 {
  float: left;
  width: 20%;
  /* Should be removed. Only for demonstration */
}
.column2 {
  float: left;
  width: 80%;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  background-color: #060b26;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hamIcon {
  position: absolute;
  right: 24px;
  color: white;
}

h3 {
  margin: 4%;
}

.buttoncls {
  position: absolute;
  right: 80px;
  bottom: 50px;
}

.MuiSelect-select {
  min-width: 150px !important;
}

.MuiFormControl-root {
  margin-right: 10% !important;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.error {
  color: red;
  font-size: 12px;
}
